
.twinkle-star-regular {
    font-family: "Twinkle Star", serif;
    font-weight: 400;
    font-style: normal;
  }

  .playwrite-es-guides-regular {
    font-family: "Playwrite ES Guides", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 1000 */

.roboto-flex-p {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* --> Start components */


body{
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
    color: darkslategrey;
    
    }

h1 {
    font-family: "Twinkle Star", serif;
    text-shadow: 0px 0px 8px rgba(97, 97, 97, 0.304);

}    


.container{
    max-width: 1200px;
    margin: 0 auto;

}

.hero{
    height: 550px;
    padding: 4rem 0;
    background-image: url("https://images.unsplash.com/photo-1530209925954-8aecf4eb1e43?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.avatar{
    background-image: url("https://public.boxcloud.com/api/2.0/internal_files/1761561093077/versions/1940522766677/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!ez8odlfV1Vln8UtLF1dONwdChyg6i_f6ykw4ZYu8dKzyZaNVQISh-3Jlg-OvUUUfCEzD49VRwJE6oMrU4dTmd--FZ451X31oTKnzkUOLB-zL6EOARO4DuKUd5hqKygrWfGPzv7LMaBBHdZE2DAiQ2veYecbGQ2oLuAK2Ds7viF_J0BHxMgtcoCy5zPRep0l4kEtrtLouokHwpBHUWMcwqlEHzDb0IEw8zPwjRzqlARbQuS73hY71znwyI61reAXyX5zI8IRvwJBYZjcwuaASDkOj7IZ4gq2BlGGACTaDssdn6o0uEH0E3zBbULv22D0AQrglWEaU8u8afJqkMV9frSXD9LxUKu3P1T5-dKpM7xzJ-HnIRuufT-6uyd6YqU9mXM6vd0dAuyCirVMkL7AbxYOkhvgKzBocuS1E9Jz02jw-o0ZRg8toOvu6q8Z9ucDhwqVPstqdtoOA4x2fiwXrR5LQD_gB6wjliM0YTZQojEcuWjI5S9BfPYfsb5KaXBLdmNbML6Bx1adhbAettjypkxLhzHVpsYgvgLWf_CT6o2TzuqIV_wlP0hSr_zNLMUrksZXwrZZR8DHLEqgCq71YiP0HeuX9e6gw21gsMMEe&shared_link=https%3A%2F%2Fapp.box.com%2Fs%2Fvxdel2mdrs52559se4hbn592nj7fmsx1&box_client_name=box-content-preview&box_client_version=3.0.0");
    width: 250px;
    height: 250px;
    background-position: top left;
    background-size: cover;
    border-radius: 100%;
    border: 4px solid rgba(252, 252, 252, 0.296);
}


.section-gift{
    text-align: center;
    padding-bottom: 4rem;
}


.title-gift2{
    font-family: "Playwrite ES Guides", serif;
    color: rgba(32, 32, 32, 0.74);
}

.gift-cover{
    width: 300px;
    height: 300px;
    background-image: url("https://plus.unsplash.com/premium_photo-1666045749978-94b433bf4fc0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 50px;
}

.happy:hover{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHR6eGtubmR1N3Q0b3lrcHU1dnpjMHA3YjZlbnZ3dmVydDdwa3c4bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JJsJQY6yj9HLaZW/giphy.gif");
}

.amazed:hover{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2Q1dDduc2UydTc0cWI4b2RzYTJtZGxxbHNrb3IxNWI4bHdsMjJxdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3XR0chfiSTtAI/giphy.gif");
}
