
.twinkle-star-regular {
    font-family: "Twinkle Star", serif;
    font-weight: 400;
    font-style: normal;
  }

  .playwrite-es-guides-regular {
    font-family: "Playwrite ES Guides", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 1000 */

.roboto-flex-p {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* --> Start components */


body{
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
    color: darkslategrey;
    
    }

h1 {
    font-family: "Twinkle Star", serif;
    text-shadow: 0px 0px 8px rgba(97, 97, 97, 0.304);

}    


.container{
    max-width: 1200px;
    margin: 0 auto;

}

.hero{
    height: 550px;
    padding: 4rem 0;
    background-image: url("https://unsplash.it/1200/900?blur&ramdom");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.avatar{
    background-image: url("https://uc81c6fa022b2ec9c0b6c4d06eb0.previews.dropboxusercontent.com/p/thumb/AChts4bfoI9EHNGm_bv9YyHKlDuqFAOsRSXVHgESs2Fq99Kdu-RfCNUPJPTB40J_JPPAGfmxjpGXa5wn0zcv0Tyad1Yn99iM-ZOdU7TPJP7BSrhDl4STBA7vdb6ocPj9vqdACpvOne7JV8ZVG4QB9Yebqc4oKcNje2iH-hfTwa-OjPy83G13Hb5IcqyNDsU5OSDv6iEbP-heMGZbOOtzzEFh1cdUrRQe2fhCcQxPpDEos07Fy2wd6L57IvTWKee21evd6BBZNKuifu6VS1c7jWgphuVtlBVXS7BuCBB9GAM9R0vWRXJXm8D-nvSLvnfnA0mcvOJ8FnydSOpA7vWuz6gvjrB2HJWCqJnfQeXiyRsgPMDj5P1qPkz_kABa6dl7TbvaEHJXpy1Cz71debbB5RVr/p.jpeg?is_prewarmed=true"
    );
    width: 250px;
    height: 250px;
    background-position: top left;
    background-size: cover;
    border-radius: 100%;
    border: 4px solid black;
}


.section-gift{
    text-align: center;
}


.title-gift2{
    font-family: "Playwrite ES Guides", serif;
    color: rgba(32, 32, 32, 0.74);
}

.gift-cover{
    width: 300px;
    height: 300px;
    background-image: url("https://plus.unsplash.com/premium_photo-1666045749978-94b433bf4fc0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 10px;
}

.happy:hover{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHR6eGtubmR1N3Q0b3lrcHU1dnpjMHA3YjZlbnZ3dmVydDdwa3c4bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JJsJQY6yj9HLaZW/giphy.gif");
}